# Dependency directories
node_modules/
.svelte-kit/

# Environment variables
.env
.env.*
!.env.example

# Build output
/build
/.svelte-kit
/package

# Firebase
.firebase/
firebase-debug.log
ui-debug.log

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
